p {
  color: #d6e4b3;
}

.dcards {
  height: 600px;
  width: 500px;
}

.gcards {
  height: 320px;
  width: 160px;
}

.fade {
  opacity: 0.5;
}

.middle {
  height: calc(300vh - 160px);
}

.header {
  height: 100px;
}
.footer {
  height: 60px;
}
.devlog {
  height: calc(100vh 300px - 160px);
}

.about {
  height: 300px;
}
